/*
display  ანუ პარაგრაფი გადავაკეთეთ ინლაინ ელემენტად, ერთ ხაზზე რომ დაიწეროს ყველა პარაგრაფი და არა ცალკ ცალკე-
ასევე სპან ელემენტი არის ინლაინ დისპლეი და შეგვიძლია block დისპლეით გადაკეთება, ანუ ცალკ ცალკე ხაზზე რომ დაიწეროს.
display-ს აქვს ოთხი ელემენტი block-ანუ ცალკე ხაზებად, inline ანუ ერთ ხაზზე, inline-block ესეც ერთხაზზე მაგრამ არა პარაგრაფის და h ელემენტებზე, -
ანუ div-ებზე და სხვა ბლოკებზე გამოიყენება და none - არის ამ პარაგრაფს საიტზე არ გამოაჩენს, ამის გაკეთება ასევე შეიძლება, რომ არ გამოჩნდეს -
საიტზე visibility:hidden: -ის მეშვეობით ოღონდ ამ ელემენტის ადგილას სიცარიელეს დატოვებს საიტზე
განსხვავებით display:none; -ს გან.
უდემის კურსის ანჯელას 44-ე დღის 6-ე ნაწილია ამის შესახებ დაწვრილებით.

*/


p{
  background-color: red;
  width: 100px;
  display: inline;
}

span{
  background-color: blue;
  display: block;
}
