/*
padding - არის ტექსტსა ან სურათზე დაშორება მის საზღვართან(border), გარეთა ჩარჩოსთან
border - არის ტექსტის ან სურათის რკალი, საზღვარი ირგვლივ რაც აქვს (ჩარჩო).
margin - არის საზღვარის (border) ირგვლივ გარედან დაშორება გარე ჩარჩოსთან
font-family -ში პირველს რასაც მიუთითებ ელემენტად ის ფონტი იქნება, მაგრამ თუ მომხმარებელს ეს ფონტი არ ექნება მაშინ მეორეს გამოიყენებს. ასე შეგიძლია
რამოდენიმე ფონტი მიუთითო და თანმიმდევრობით გახსნის თუ რომელიმე ფონტი არ აქვს.

forn-size - შეიძლება მივუთითოთ px, %-ში, em-შო ან rem-ში. 16px = 100% = 1em(rem). როცა პიქსელს ვუთითებით ამ შემთხვევაში-
ბრაუზერის სეთინგებიდან ფონტის ზომის ცვლილებისას, ჩვენს საიტზე ფონტის ზომა იგივე რჩება, ხოლო % ან em-ს შემთხვევაში ბრაუზერის ფონტის-
შეცვლისას საიტზეც იცვლება ფონტი, მაგრამ ამ შემთხვევაში ვთქვათ მშობელი ელემტი ვთქვათ <dead>-ი თუ 100% გვაქვს მითითებული, ხოლო-
მისი შვილი ელემენტი <title> 200% გვაქვს მითითევული, მაშინ თაითელის ზომა 300% გამოვა რადგან მშობელი ელემენტიდან ითვლს %-ს. ხოლო -
თუ გვინდა რომ მშობელი ელემენტიდან არ დაითვალოს პროცენთი და მას ლოკალურად ქონდეს თავისი პროცენტი მაშინ ვიყენებთ rem-ს ან px.
*/


body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', monospace;

}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Kalam', sans-serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.big-txt{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  width: 1000px;
  padding-left: 250px;
}
.bottom-container {
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container{
}

.my-foto{
  width: 200px;
}

.pro{
  text-decoration: underline;
}

.top-conteiner{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-image{
  width: 100px;
  height: 100px;
}
ul{
  display: inline-block;
  text-align: left;
  margin-top: 0px;
}

.head-margins{
  margin-bottom: 0px;
  margin-top: 25px;
}

.end-line{
  margin-top: 35px;
}

.education{
  display: block;
  margin-bottom: 10px;
}
