/*
padding - არის ტექსტსა ან სურათზე დაშორება მის საზღვართან(border), გარეთა ჩარჩოსთან
border - არის ტექსტის ან სურათის რკალი, საზღვარი ირგვლივ რაც აქვს (ჩარჩო).
margin - არის საზღვარის (border) ირგვლივ გარედან დაშორება გარე ჩარჩოსთან
font-family -ში პირველს რასაც მიუთითებ ელემენტად ის ფონტი იქნება, მაგრამ თუ მომხმარებელს ეს ფონტი არ ექნება მაშინ მეორეს გამოიყენებს. ასე შეგიძლია
რამოდენიმე ფონტი მიუთითო და თანმიმდევრობით გახსნის თუ რომელიმე ფონტი არ აქვს.

forn-size - შეიძლება მივუთითოთ px, %-ში, em-შო ან rem-ში. 16px = 100% = 1em(rem). როცა პიქსელს ვუთითებით ამ შემთხვევაში-
ბრაუზერის სეთინგებიდან ფონტის ზომის ცვლილებისას, ჩვენს საიტზე ფონტის ზომა იგივე რჩება, ხოლო % ან em-ს შემთხვევაში ბრაუზერის ფონტის-
შეცვლისას საიტზეც იცვლება ფონტი, მაგრამ ამ შემთხვევაში ვთქვათ მშობელი ელემტი ვთქვათ <dead>-ი თუ 100% გვაქვს მითითებული, ხოლო-
მისი შვილი ელემენტი <title> 200% გვაქვს მითითევული, მაშინ თაითელის ზომა 300% გამოვა რადგან მშობელი ელემენტიდან ითვლს %-ს. ხოლო -
თუ გვინდა რომ მშობელი ელემენტიდან არ დაითვალოს პროცენთი და მას ლოკალურად ქონდეს თავისი პროცენტი მაშინ ვიყენებთ rem-ს ან px.
font-weight : normal დეფაულტად არის bold ანუ მუქი და ნორმალი უფრო აღიავებს.
text-indent: 50px ანუ ტექსტის პირველი ხაზის შეწევა, ანუ აბზაცით რომ იწყებ პირველი ხაზი რამდენად შეწიოს მარცხენა ზოლიდან.
text-align: justify ტექსტის გასწორება: justify , ანუ ჭიმავს ხაზებს ისე, რომ თითოეულ ხაზს ჰქონდეს თანაბარი სიგანე (როგორც გაზეთებსა და ჟურნალებში)
letter-spacing: 3px ანუ წინადადებაში ასოებს შორის დაშორება 3 პიქსელია.
float: left; სურათის მარცხენა მხარეს დასვამს ტექსტს.
text-decoration: none - ლინკებს ხაზი რომ გაუქროს ქვემოდან
:hover  როცა მაუსს მიიტან წარწერასთან ფერს იცვლის.

*/


body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', monospace;
  color: #40514E;

}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Kalam', sans-serif;
  color: #66BFBF;
}

p{
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
  font-weight: normal;
}

hr{
  width: 60%;
}

ul{
  display: inline-block;
  text-align: left;
  margin-top: 0px;
}

.big-txt{
  text-indent: 50px;
  text-align: justify;

}
.bottom-container {
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container{
  margin-bottom: 180px;
}

.my-foto{
  width: 200px;
}

.pro{
  text-decoration: underline;
}

.top-conteiner{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  height: 33em;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-image{
  width: 100px;
  height: 100px;
}

.end-line{
  margin-top: 35px;
  color: black;
  font-size: 0.75rem;
}

.education{
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: blue;
  text-decoration: none
}

.skill-row{
  width: 50%;
  margin: auto auto 30px auto;
}

.profile{
  width: 50%;
  margin: auto;
}

.also-python-laibreries{
  margin-bottom: 0px;
}

.my-foto{
  float: left;
  margin-right: 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 20px 0px 20px 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-link{
  padding: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.education:hover{
  color: black;
}
